.hora-aberta:hover{
    opacity: 0.6;
}
.hora-aberta p{
    margin: 0 auto;
    font-size: 18px;
    padding-top: 25px;
}
.hora-aberta{
    box-sizing: border-box !important;
    width: 18%;
    height: 80px;
    min-width: 100px;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    background:#ffbd4a !important ;
    color:#fff !important ;
    box-shadow: 10px 10px 20px rgba(0,0,0,0.3);
}
.hora-importante{
    background-color: #2ecc71 !important;
    color: #fff !important;
}