.hora-aberta:hover{
    opacity: 0.6;
}
.hora-aberta p{
    margin: 0 auto;
    font-size: 18px;
    padding-top: 25px;
}
.hora-aberta{
    box-sizing: border-box !important;
    height: 80px;
    padding: 5px;
    border-radius: 3px;
    margin: 5px;
    cursor: pointer;
    display: inline-block;
    background:#ffbd4a !important ;
    color:#fff !important ;
}
.hora-importante{
    background-color: #2ecc71 !important;
    color: #fff !important;
}
